<h1>ORDERS SYSTEM</h1>
<form>
<button type="button" style="border-radius: 4px;" onClick="location.href='orders'">check the order list</button>
</form>
<button type="button" style="border-radius: 4px;" onClick="location.href='customers'" >check the customers</button>

<h1>Upload order files</h1>
<form method="post" enctype="multipart/form-data" action="/upload" id="uploadForm">
    
    
    <input type="file" id="myFiles"  name="uploadFile"/>
    
    <input type='submit' value='Upload!' />
</form>






